/* //////////////////

Nav Toggle

////////////////// */
.w-Posts{
  @extend %futura;
  text-align: left;
  h4{
    @extend %futura;
    font-size: rem-calc(20);
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    a{
      @extend %default-transition;
      color: $orange;
      &:hover{
        color: darken($orange, 20%);
      }
    }
  }
  h5{
    @extend %futura;
    font-size: rem-calc(16);
    line-height: 1rem;
    margin-bottom: .25rem;
  }
  ul{
    list-style-type: none;
    margin: 0;
  }
}
