/* //////////////////

Banner

////////////////// */

.blog{
  padding: 3em 0;
  text-align: center;
  .row{
    overflow: hidden;
  }
  h1{
    @extend %futura;
    color: $blue;
    display: inline-block;
    font-weight: 800;
    line-height: 0.75;
    margin: 2rem 0 4rem;
    position: relative;
    text-transform: uppercase;
    &:after{
      content: "";
      position: absolute;
      border-bottom: 2px solid $blue;
      bottom: 0;
      width: 1500px;
    }
    &:before{
      content: "";
      position: absolute;
      border-bottom: 2px solid $blue;
      bottom: 0;
      right: 100%;
      width: 1500px;
    }
  }
  h2{
    @extend %futura;
    color: $blue;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    a{
      color: #F8803E;
    }
  }
  code {
    font-size: .875rem;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: 700;
    color: #bd260d;
    text-transform: none;
  }
  .entry-content{
    text-align: left;
    @extend %futura;
    color: #555;
    code{
      font-family: monospace, monospace;
    }
    a{
      color: #F8803E;
    }
    .highlight{
      margin-bottom: 1rem;
    }
  }
}
.disqus{
  padding: 0 0 3em;
}
