/* //////////////////

Banner

////////////////// */

.built-with{
  background: $blue;
  padding: 3em 0;
  .row{
    text-align: center;
    overflow: hidden;
  }
  h3{
    @extend %futura;
    color: white;
    display: inline-block;
    font-weight: 800;
    line-height: 0.75;
    margin: 2rem 0 4rem;
    position: relative;
    text-transform: uppercase;
    &:after{
      content: "";
      position: absolute;
      border-bottom: 2px solid white;
      bottom: 0;
      width: 1500px;
    }
    &:before{
      content: "";
      position: absolute;
      border-bottom: 2px solid white;
      bottom: 0;
      right: 100%;
      width: 1500px;
    }
  }
}
